.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.cardContainer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 50px !important;
    width: 90vw;
}
.item1{
    max-width: unset !important;
}

